body{
    font-family: "Winky Sans", sans-serif;
}
/* start header */
.product-header {
    min-height: 70px;
    padding: 0 20px;
}
.product-header .menu i , 
.product-header .cart i{
    color: var(--second-color);
    font-size: 25px;
    cursor: pointer;
}
body .cover{
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.24);
    display: none;
}
.product-header .menu-content{
    background-color:#ffffff;
    min-height: 100vh;
    left: -300px;
    top: 0;
    width: 300px;
    padding: 10px;
    z-index: 1000;
    transition: .7s;
}
.product-header .menu-content ul li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #767676;
    width: 60%;
}
.product-header .menu-content ul li a{
    color: #767676;
}
.product-header .header-image img{
    width: 200px;
}
.cartcounter::before{
    content: attr(data-counter);
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e2231a;
    color: white;
    top: -12px;
    right: -12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px){
    .product-header .menu i,
    .product-header .cart i{
        font-size: 17px;
    }
    .product-header .header-image img{
        width: 100px;
    }
}
/* end header */
/* start item body */
.items .item-header {
    height: 80px;
    background-color: var(--main-color);
}
.items .item-header .title{
    gap: 30px;
}
.items .item-header .title .image{
    position: relative;
    top: 15px;
}
.items .item-header .title p{
    font-size: 35px;
    color: white;
    margin: 0;
    padding-left: 10px;
}
.items .item-header select{
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: var(--main-color);
    padding: 3px 5px;
}
@media (max-width:768px) {
    .items .item-header{
        height: 60px;
    }
    .items .item-header .title{
        gap: 10px;
    }
    .items .item-header .title p{
        font-size: 18px;
    }
    .items .item-header select{
        font-size: 10px;
    }
    .items .item-header .title .image{
        top: 10px;
    }
    .items .item-header .title .image img{
        width: 60px;
    }
}
.items .item-content .container {
    gap: 4%;
    row-gap: 30px;
    padding: 20px 0px;
}
.items .item-content .container .box{
    width: 48%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid #ededef;
}
.items .item-content .container .box .image{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items .item-content .container .box img{
    width: 120px ;
    height: 120px;
    border-radius: 50%;
    transition: var(--transition);
    outline: 1px solid #f17c13;
    border: 3px solid white;
}
.items .item-content .container .box img:hover{
    transform: scale(1.1);
}
.items .item-content .container .box .box-content{
    width: 73%;
    height: 180px;
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.items .item-content .container .box .box-content h4{
    font-size: 20px;
    color: #e2231a;
    font-weight: normal;
}
.items .item-content .container .box .box-content p{
    font-size: 12px;
    line-height: 1.1;
    color: #777;
}
.items .item-content .container .box .box-content .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.items .item-content .container .box .box-content .price span{
    color: #e2231a;
    font-size: 22px;
}
.items .item-content .container .box .box-content .price button{
    outline: none;
    border: 1px solid #e2231a;
    background-color:white ;
    color: #e2231a;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    transition: var(--transition);
}
.items .item-content .container .box .box-content .price button:hover{
    color: white;
    background-color: #e2231a;
}
@media (max-width:992px) {
    .items .item-content .container {
        gap: 0%;
        row-gap: 30px;
    }
    .items .item-content .container .box{
        width:100%;
    }
}
@media (max-width:768px) {
    .items .item-content .container .box img{
        width: 80px;
        height: 80px;
    }
    .items .item-content .container .box .box-content h4{
        font-size: 16x;
    }
    .items .item-content .container .box .box-content p{
        font-size: 10px;
    }
    .items .item-content .container .box .box-content{
        width: 73%;
        height: 140px;
    }
    .items .item-content .container .box .box-content .price span{
        font-size: 18px;
    }
    .items .item-content .container .box .box-content .price button{
        font-size: 15px;
    }
}
/* end item body */
/* start footer */
.footer-content  {
    min-height: 200px;
    background-color: var(--main-color);
    /*when set item delet absolute*/
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    color: white;
}
.footer-content .social ul{
    padding-left: 70px;
    padding-top: 50px;
    gap: 30px;
}
.footer-content .social ul li a i {
    background-color: var(--main-color);
    font-size: 22px;
}
.footer-content .social ul li a{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: var(--transition);
}
.footer-content .social ul li a:hover{
    transform: scale(1.1)
}
.footer-content .rights {
    padding-left: 70px;
}
.footer-content .rights p{
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
.footer-content .rights p span{
    color: #f17c13;
}
.footer-content .footer-image img{
    max-width: 400px;
}
@media (max-width:992px) {
    .footer-content  {
        flex-direction: column;
        gap: 20px;
    }
    .footer-content .links{
        align-items: center;
        gap: 20px;
    }
    .footer-content .social ul{
        padding:20px 0 0;
    }
    .footer-content .rights {
        padding-left: 0px;
    }
}
@media (max-width:768px) {
    .footer-content .footer-image img{
        max-width: 300px;
    }
    .footer-content .social ul li a i{
        font-size: 16px;
    }
    .footer-content .social ul li a{
        width: 30px;
        height: 30px;
    }
    .footer-content .rights p{
        font-size: 10px;
    }
}
/* end footer */